* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --imgBackground: grey;
    --now: lightCoral;
    --future: lightgreen;
    --past: lightgrey;
}

header {
    text-align: center;
}

header h1 {
    font-size: 100px;
}

.nine-five {
    height: 200px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.hour {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    border-style: dashed none none;
}

.event {
    text-align: start;
    line-height: 50px;
    border-style: solid;
}

.saving-event {
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    background-color: var(--imgBackground);
    border-style: solid;
}

.saving-event img {
    width: 30%;
    height: 30%;
}

.currentTime {
    background-color: var(--now);
}

.pastTime {
 background-color: var(--past);
}

.futureTime {
    background-color: var(--future);
}